<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.brainberry.foxdigital">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_foxdigital_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_foxdigital_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeleteVideoActivity">
        </activity>
        <activity android:name=".AddVideoActivity">
        </activity>
        <activity android:name=".AuthenticationActivity">
        </activity>
        <activity android:name=".FoxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">

        </activity>
    </application>

</manifest>